// bower:scss
// endbower

@import "bourbon/bourbon";

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  &:before, &:after {
    @extend *;
  }
}

html {
  font: 62.5% "Mada", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150,150,150,0.4);
}

.material-icons {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.app-gate-background {
  @include position(absolute, 0 0 0 0);
  width: 100%;
  height: 100%;
}

.app-gate-image {
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../images/app-gate-background.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

.account-section {
  @include position(relative);
}

.loading-signal {
  @include position(absolute, 0 0 0 0);
  background-color: #fff;
  @include size(100% 100%);
}

.logout__button {
  position: relative;
}

.logout--walk {
  display: none;
}

.app-heading {
  width: 25%;
}

.app-nav__list {
  width: 75%;
}

.link {
  text-decoration: none;
  color: #000;

  &:hover, &:visited, &:active {
    text-decoration: none;
    color: #000;
  }

}

md-toolbar:not(.md-menu-toolbar) {
  width: auto;
  background-color: #fff;
  color: #212121;

  md-icon {
    color: #e74c3c;
  }
}

.md-icon-button {
  &:hover {
    md-icon {
      color: #e74c3c;
    }
  }
}

md-grid-tile-footer {
  md-icon {
    color: #e74c3c;
  }
}

.app-gate-form {
  @include position(absolute, 0 0 0 0);
}

.back-link-row {
  width: calc(100% - 2rem);
  max-width: 500px;
}

.form-container {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: calc(100% - 2rem);
  max-width: 350px;
  max-height: calc(100vh - 2rem);
  overflow: auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(100, 100, 100, 0.2);

  &.account-container,
  &.event-container,
  &.users-list-section {
    max-height: none;
  }
}

.form-container--md {
  max-width: 500px;
  margin-bottom: 3rem;
}

.form__row {
  margin: 1rem 0;
}

.form-title {
  margin: 1.5rem 0;
  font-size: 2.25rem;
  font-variant: small-caps;
  font-weight: 600;
}

.form__text {
  display: inline-block;
  margin: 1.5rem 0;
  color: #aaa;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: 600;
}

.hint {
  font-size: 1.2rem;
  color: rgba(0,0,0,0.6);
}

.message__row {
  margin: 2rem 0 1rem;
}

.form__message {
  margin: 0;
  font-variant: normal;
  font-weight: lighter;
}

.form__label {
  margin: 0 0 0.25rem;
}

.form__meta {
  color: #999;
  margin: 0 0 1.8rem;
}

.form__invalid {
  margin: 0 0 1.5rem;
  font-size: 1.45rem;
  font-weight: 400;
}

.form__submit {
  outline: 0;
  background-color: none;
  border: 0;
}

.forward__anim {
  @include transition(transform 0.2s ease-in);
  &:hover {
    @include transform(translateX(0.5rem));
  }
}

.backward_anim {
  @include transition(transform 0.2s ease-in);
  &:hover {
    @include transform(translateX(-0.5rem));
  }
}

.up__anim {
  @include transition(transform 0.2s ease-in);
  &:hover {
    @include transform(translateY(-0.5rem));
  }
}

.pencil-down__anim {
  @include transition(transform 0.175s ease-in-out);
}

@include keyframes(shake) {
  0% {
    @include transform(translateX(-0.25rem));
  }
  25% {
    @include transform(translateX(0.25rem));
  }
  50% {
    @include transform(translateX(-0.25rem));
  }
  75% {
    @include transform(translateX(0.25rem));
  }
  100% {
    @include transform(translateX(0));
  }
}

.delete__button {
  &:hover {

    .shake__anim {
      @include animation(shake 0.4s ease-in);
    }
  }
}

input,
textarea {
  font-size: 2rem;
  outline: 0;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  &:focus {
    border-bottom: 1px solid rgba(0,0,0,0.7);
  }

}

.ng-active {
  .form__feedback {
    text-transform: uppercase;
  }
}

.form__feedback--error {
  color: #c21;
}

.form__feedback--success {
  color: #2c1;
}

/* BEGIN login form styles */

.login-form {
  padding: 2rem 0;
}

md-input-container[disabled] {
  .form__label {
    color: #d7d7d7;
  }
}

/* END login form styles */

/* Header styles */

.header-container {
  padding: 0;
  border-bottom: 1px solid rgba(50,50,50,0.1);
}

/* BEGIN dashboard styles */

md-toolbar {
  &.dash__toolbar {
    padding: 1rem 0;
    box-shadow: 1px 2px 3px rgba(160,160,160,0.3);
  }

  &.create__toolbar {
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  }
}

.md-active {
  span {
    color: #e74c3c;
  }
}

.md-toolbar-tools {

  .app-title {
    font-size: 1.8rem;
    color: #212121;
  }

  .dash__title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  .dash__username {
    text-transform: none;
    font-weight: bolder;
  }
}

.dash-nav__list {
  padding: 0;
  @include display(flex);
  @include justify-content(space-around);
}

.dash-nav__list-item {
  list-style: none;
}

.create-link__box {
  display: inline-block;
  &:hover {
    .create__icon {
      color: #e74c3c;
    }
  }
}

.create__icon {
  font-size: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  @include position(relative, -0.15rem -0.15rem null null);
}

.create-link {
  text-decoration: none;


  .create-link__text {
    @include position(relative);
    color: #e74c3c;
    display: inline-block;
    margin: 0;
    padding: 0.125rem 0.25rem;
    font-size: 1.85rem;
    font-weight: 400;
    font-variant: small-caps;
  }

  &:hover, &:visited {
    text-decoration: none;

    .pencil-down__anim {
      @include transform(rotate(-30deg));
    }

  }
}

.user-summary__section {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.calendar__icon {
  text-align: center;
}

/* Create Form */

.name__row {
  padding: 0.5rem 0 0;
}

.dates__row {
  margin: 2rem 0;
}

.date__row {

  md-content {
    width: 190px;
  }

  .md-datepicker-input {
    width: 130px;
    margin: auto;
    padding: 0;
    &:focus {
      border-bottom: none;
    }
  }
}

.event-date__preview {
  margin: 4rem 0 0;
  font-size: 2.25rem;
  font-variant: small-caps;
  font-weight: 300;
  color: rgba(100,100,100,0.8);
}

.times__row {

  md-input-container {
    margin: 3rem auto 0;
  }

  .ui-timepicker-input {
    width: 120px;
    margin: 0 auto;
    text-align: center;
    float: none;
  }
}

.guests__row {
  margin: 0 0 2rem;
}

.ui-timepicker-wrapper {

  width: 120px;
}

tags-input {
  .tags {
    box-shadow: none;
    outline: 0;
    margin: 1rem 0 0;
    padding: 0.5rem 0;
    border: 1px solid rgba(0,0,0,0.2);
    &.focused {
      box-shadow: none;
      border: 1px solid rgba(0,0,0,0.5)
    }
  }
}

.tags {
  input {
    text-align: left;
  }
}

.create-name-input {
  font-size: 2.5rem;
}

/* Dashboard styles */

md-tabs {
  .md-tab {
    .md-ripple-container {
      color: #e74c3c;
    }
  }

  md-ink-bar {
    color: #e74c3c;
    background-color: #e74c3c;
  }
}

md-tab-content {
  transition: none;
}

md-grid-list {
  padding: 1rem 0;

  md-grid-tile {
    background-color: #fff;
    border-left: 1px solid rgba(200,200,200,0.5);
    border-right: 1px solid rgba(200,200,200,0.5);
    @include transition(border-color 0.2s ease-out);

    md-grid-tile-footer {
      background-color: rgba(225,225,225,0.2);
      @include transition(background-color 0.2s ease-out);
    }

  }
}

.empty-list {
  font-size: 1.75rem;
  color: #b6b6b6;
  padding: 1rem;
  border-left: 2px solid rgba(0,0,0,0.1);
}

.event-preview,
.user-preview {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
}

.preview__more-button {
  z-index: 20;
  line-height: 56px;
  min-width: 0;
  width: 56px;
  height: 56px;
  vertical-align: middle;
  overflow: hidden;
  background-color: #fff;
  @include transition(all 0.3s cubic-bezier(.55,0,.55,.2));
  color: #727272;

  &.md-button {
    &:hover, &:focus, &:active {
      background-color: #fff;
    }
  }
}

.event-preview__title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0 0;
}

.event-preview__date {
  margin: 0;
  padding: 1.25rem 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.event-preview__type {
  margin: 0.25rem 0;
  font-size: 1.5rem;
}

.event-preview__message {
  font-size: 1.4rem;
  font-weight: 300;
  max-height: 60px;
  overflow: hidden;
}

.md-dialog-content-body {
  font-size: 1.5rem;
}

/* Account styles */

.email__row {
  margin: 3rem 0 0;
}

.birthday__row {
  margin: 0 0 4rem;
}

.md-button {
  &.md-datepicker-button {
    margin: 0;
  }
}

.md-datepicker-input-container {
  margin-left: 0;
}

/* Event styles */

.event-container {
  padding: 0.75rem;
}

.event__icon {
  font-size: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
}

.event-inner-container {
  padding: 0.5rem 1.5rem;
}

.event-header {
  text-align: center;
  padding: 1rem 0;
}

.event-title {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding: 0 0.5rem;
  margin: 1rem 0 1rem;
  z-index: 2;

  &:before, &:after {
    display: block;
    content: "";
    width: 0;
    border-top: 1px solid rgba(75,75,75,0.5);
    z-index: -1;
    @include transition-property(width, position);
    @include transition-duration(0.3s);
    @include transition-delay(0.2s);
    @include transition-timing-function(ease-in);
  }

}

.title--flair {

  &:before {
    @include position(absolute, 50% 100% null null);
    width: 60px;
  }

  &:after {
    @include position(absolute, 50% null null 100%);
    width: 60px;
  }
}

.event-type {
  margin: 1rem 0;
  font-size: 1.4rem;
  font-weight: lighter;
}

.event-date {
  margin: 1rem 0;
  font-size: 1.65rem;
}

.event-location {
  margin: 2rem 0;
  font-size: 1.65rem;
}

.event-host {
  color: #e74c3c;
  font-size: 1.45rem;
  font-weight: 400;

  &:hover {
    color: #212121;
  }
}

.event-message {
  color: rgba(0,0,0,0.75);
  max-width: 350px;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: justify;
}

.event-timezone {
  font-size: 1.4rem;
}

.event-times {
  margin: 1rem auto 0.75rem;
  max-width: 350px;
}

.event-time {
  margin: 2rem auto;
  font-size: 1.6rem;
  font-weight: bold;
}

.event-time-label {
  display: block;
  font-size: 1.85rem;
  font-weight: 300;
  text-transform: uppercase;
}

.event-guests-list {
  padding: 0;
  border-radius: 3px;
}

.guest-list-item {
  background-color: rgba(235,235,235,0.2);
  &:hover {
    background-color: rgba(235,235,235,0.4);
  }
}

.guest-list-subheader {
  border-bottom: 1px solid rgba(150,150,150,0.2);
}

.guest-link {
  padding: 1.5rem 0;
  text-decoration: none;

  &.md-list-item-text {
    .guest-name {
      color: #e74c3c;
    }
  }

  &:hover, &:focus, &:visited, &:active {
    text-decoration: none;
      &.md-list-item-text {
      .guest-name {
        color: #e74c3c;
      }
    }
  }
}

/* Users section */

.users-header-title {
  font-size: 1.8rem;
  font-variant: small-caps;
  margin: 1rem 0 0.5rem;
  color: rgba(100, 100, 100, 0.8);
}

.users-list-section {
  padding: 1rem 1.5rem;
}

md-list-item {
  background-color: rgba(215,215,215,0.2);
  &:nth-of-type(odd) {
    background-color: rgba(235,235,235,0.2);
  }
  &:hover {
    background-color: rgba(200,200,200,0.2);
  }
}

/* User section */

.user-username {
  font-size: 1.6rem;
  color: #e74c3c;
}

.user-name {
  font-size: 2rem;
  margin: 1rem 0 0.5rem;
}

.user-email {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 0 0 0.25rem;
}

.user-birthday {
  font-size: 1.75rem;
  margin: 1.5rem 0 2.5rem;
}

.user-employer {
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 1rem 0 0.25rem;
}

.user-position {
  font-size: 1.6rem;
  margin: 0.25rem 0 1rem;
}

.user-blurb {
  font-size: 1.5rem;
}

.contact-toggle {
  margin: 2.5rem 0 1.5rem;
}

.contact-toggle-text {
  font-size: 1.35rem;
}

md-switch {
  &.md-checked {
    .md-bar {
      background-color: #f29f97;
    }
    .md-thumb {
      background-color: #e74c3c;
    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .material-icons {
    font-size: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .form-container {
    padding: 2rem 3rem;
  }

  .event-inner-container {
    padding: 1.5rem 2.25rem;
  }

  .header-container {
    padding: 0;
  }

  md-toolbar {
    &.dash__toolbar {
      padding: 0;
      box-shadow: 1px 2px 3px rgba(160,160,160,0.3);
    }

    &:not(.md-menu-toolbar) {
      md-icon {
        color: #727272;
      }
    }
  }

  .navbar-nav {

    .logout {
      @include transition(opacity 0.3s ease-in-out);
      position: absolute;
      left: 0;
    }

    .md-icon-button {
      &:hover {
        .logout--walk {
          opacity: 0;
        }
        .logout--run {
          opacity: 1;
        }
      }
    }

  }

  .logout--walk {
    display: block;
    opacity: 1;
  }

  .logout--run {
    opacity: 0;
    padding-left: 1rem;
  }

  .main-content {
    padding: 0;
  }

  .dash__header {
    text-align: left;
  }

  md-grid-list {
    md-grid-tile {

      border-left: 1px solid rgba(200,200,200,0.3);
      border-right: 1px solid rgba(200,200,200,0.3);

      md-grid-tile-footer {
        background-color: #fff;
      }

      &:hover {

        border-left: 1px solid rgba(225,225,225,0.2);
        border-right: 1px solid rgba(225,225,225,0.2);

        md-grid-tile-footer {
          background-color: rgba(225,225,225,0.2);
        }

        .blink__anim {
          @include transition-delay(0.2s);
          @include transition-property(transform);
          @include transition-duration(0.4s);
          @include transition-timing-function(ease);
          @include transform(scaleY(-1));
        }


      }
    }
  }

  .event-preview,
  .user-preview {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
  }

}