<section class="event-preview">
  <h5 class="event-preview__title">{{ eventData.name }}</h5>
  <h6 class="event-preview__date">{{ eventData.date }}</h6>
  <h6 class="event-preview__type">{{ eventData.type }}</h6>
  <p class="event-preview__message">{{ eventData.message }}</p>
  <md-grid-tile-footer layout="row" layout-align="end center">
    <a ui-sref="event({ eventID: eventData.$id })">
      <md-button class="md-icon-button eye__button" aria-label="Preview">
          <md-icon class="material-icons blink__anim step"
            ng-class="md-18">
              visibility
          </md-icon>
          <md-tooltip md-direction="bottom">
            view
          </md-tooltip>
      </md-button>
    </a>
    <md-button class="md-icon-button delete__button" aria-label="Remove">
      <md-icon class="material-icons shake__anim step"
          ng-class="md-18"
          ng-click="eventPreview.confirmDelete($event)">
            delete_forever
      </md-icon>
      <md-tooltip md-direction="bottom">
        delete
      </md-tooltip>
    </md-button>
  </md-grid-tile-footer>
</section>