<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Event Planner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="eventPlannerApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



    <main class="app-container" ng-controller="MainCtrl as main">
      <!-- Load dashboard header template when logged in -->
      <div ng-if="loggedIn" ng-include="'views/partials/header.html'"></div>
      <div ng-if="!loggedIn" class="app-gate-background">
        <div class="app-gate-image">
        </div>
      </div>
      <div ui-view class="main-content" layout="row" layout-align="center center"></div>

    </main>

    <footer class="footer">
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

      <!-- cdn lib files -->
      <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
      <!-- end lib -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/usercredentials.js"></script>
        <script src="scripts/services/createDetails.js"></script>
        <script src="scripts/services/validateTimes.js"></script>
        <script src="scripts/directives/autofocus.js"></script>
        <script src="scripts/directives/constraints.js"></script>
        <script src="scripts/directives/eventPreview.js"></script>
        <script src="scripts/directives/userPreview.js"></script>
        <script src="scripts/directives/timepickerdirective.js"></script>
        <script src="scripts/controllers/head.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/dash.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/controllers/create.js"></script>
        <script src="scripts/controllers/eventPreview.js"></script>
        <script src="scripts/controllers/event.js"></script>
        <script src="scripts/controllers/edit.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/userPreview.js"></script>
        <!-- endbuild -->

        <!-- additional -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['Mada:300,400,500']
            }
          });
        </script>
</body>
</html>
