<section class="account-section" layout="column" layout-align="center center" ng-controller="AccountCtrl as account" flex>

  <!-- Loading spinner -->
  <div class="loading-signal" ng-if="account.loading" layout="row" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="back-link-row">
    <a ui-sref="dashboard" class="link">
      <md-button aria-label="Back"
      class="md-icon-button back__button backward_anim launch">
        <md-icon class="material-icons step"
          ng-class="md-18">
            keyboard_return
        </md-icon>
      </md-button>
    </a>
  </div>

  <!-- Account details -->
  <section class="form-container form-container--md">
    <md-content>
      <div layout-gt-xs="column" layout-align="center center">
        <h2 class="form-title">account</h2>
      </div>
      <div>
        <form name="accountForm" class="form account-form" ng-submit="account.editAccount()">
          <div layout-gt="row">
            <!-- Full Name -->
            <md-input-container class="md-block" flex>
              <label class="form__text form__label">
                name
              </label>
              <input class="form__account-name name-input" name="accountName" autofocus ng-model="account.name" valid-ref>
              <aside ng-messages="accountForm.accountName.$error">
                <div class="form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
              </aside>
            </md-input-container>
          </div>
          <!-- Account Email -->
          <div layout-gt="row">
            <md-input-container class="md-block" flex>
              <label class="form__text form__label">
                set email
              </label>
              <input type="email" class="form__email email-input" name="accountEmail" ng-model="account.email" valid-ref>
            </md-input-container>
          </div>
          <!-- Birthday -->
          <div class="date__row">
            <label class="form__text form__label">
              birthday
            </label>
            <md-content>
              <md-datepicker ng-model="account.birthday" md-placeholder="Enter date"></md-datepicker>
            </md-content>
          </div>
          <!-- Employer -->
          <div>
            <md-input-container class="md-block" flex>
              <label class="form__text form__label">
                employer
              </label>
              <input class="form__employer employer-input" name="accountEmployer" ng-model="account.employer" valid-ref>
              <aside ng-messages="accountForm.employer.$error">
                <div class="form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
              </aside>
            </md-input-container>
          </div>
          <!-- Position -->
          <div layout-gt="row">
            <md-input-container class="md-block" flex>
              <label class="form__text form__label">position</label>
              <input class="form__position position-input" name="accountPosition" ng-model="account.position" valid-ref>
              <aside ng-messages="accountForm.position.$error">
                <div class="form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
              </aside>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-around center">
            <a ui-sref="dashboard" class="link">
              <md-button aria-label="Back"
              class="md-icon-button back__button backward_anim launch">
                <md-icon class="material-icons step"
                  ng-class="md-18">
                    keyboard_return
                </md-icon>
              </md-button>
            </a>
            <md-button aria-label="Update"
              type="submit"
              class="md-icon-button update__button launch">
                <md-icon class="material-icons step"
                  ng-class="md-18">
                    done
                </md-icon>
            </md-button>
          </div>
        </form>
      </div>
    </md-content>
  </section>

</section>