<section class="event-section" layout="column" layout-align="center center" ng-controller="EventCtrl as event" flex>

  <!-- Loading spinner -->
  <div class="loading-signal" ng-if="event.loading" layout="row" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="back-link-row" layout="row" layout-align="space-between center">

    <md-button ng-if="previousStates.length" ng-click="changeState('previous')"
      aria-label="Back"
      class="md-icon-button back__button backward_anim launch">
      <md-icon class="material-icons step"
        ng-class="md-18">
          keyboard_return
      </md-icon>
    </md-button>

    <a ui-sref="dashboard" class="link">
      <md-button aria-label="Back"
      class="md-icon-button back__button launch">
        <md-icon class="material-icons step"
          ng-class="md-18">
            home
        </md-icon>
      </md-button>
    </a>

    <a ui-sref="event-edit({ eventID: event.eventID })"
      class="create-link"
      ng-if="event.hasHostAccess">
      <md-button class="md-icon-button create__button" aria-label="Edit">
          <md-icon class="material-icons event__icon pencil-down__anim step"
            ng-class="md-18">
              create
          </md-icon>
          <md-tooltip md-direction="bottom">
            edit
          </md-tooltip>
      </md-button>
    </a>
  </div>


  <section class="form-container form-container--md event-container">
    <section class="event-inner-container">
      <header class="event-header">
        <h6 class="event-type">{{ event.details.type }}</h6>
        <h2 class="event-title" ng-class="{'title--flair': !event.loading}">{{ event.details.name }}</h2>
        <div class="event-times" layout="column" layout-gt-xs="row" layout-align="space-between center">
          <div class="event-time">
            <span class="event-time-label">starts: </span>
            <h4 class="event-date">{{ event.details.startDate }}</h4>
            <span> {{ event.startTime }} </span>
          </div>
          <div class="event-time">
            <span class="event-time-label">ends: </span>
            <h4 class="event-date">{{ event.details.endDate }}</h4>
            <span> {{ event.endTime }} </span>
          </div>
        </div>
        <div class="event-timezone"> {{ event.timeZone }} </div>
        <h4 class="event-location">{{ event.details.location }}</h4>
        <a ui-sref="user({ handle: event.details.host })"><h5 class="event-host">{{ event.details.host }}</h5></a>
        <p class="event-message">
          {{ event.details.message }}
        </p>
      </header>
      <section class="guest-list">
        <!-- Guests -->
        <section class="event-guests-list" ng-if="event.details.guests.length">
          <md-content>
            <md-list flex>
              <md-subheader class="md-no-sticky guest-list-subheader">
                Who's Coming
              </md-subheader>
              <md-list-item class="md-2-line guest-list-item" ng-repeat="guest in event.details.guests">
                <img ng-if="guest.img" ng-src="{{ guest.img }}" class="md-avatar" alt="Picture of {{guest.text}}">
                <div class="md-list-item-text guest-link" layout="column">
                  <h4 class="guest-name">{{ guest.text }}</h4>
                  <p class="guest-message">{{ guest.message }}</p>
                </div>
                <a ui-sref="user({ handle: userPreview.username })" class="md-secondary">
                  <md-button class="md-icon-button eye__button" aria-label="Preview">
                      <md-icon class="material-icons eye__icon blink__anim step"
                        ng-class="md-18">
                          visibility
                      </md-icon>
                      <md-tooltip md-direction="bottom">
                        view
                      </md-tooltip>
                  </md-button>
                </a>
              </md-list-item>
            </md-list>
          </md-content>
        </section>
        <aside class="user-summary__section" ng-if="!event.details.guests.length">
          <p class="empty-list">No guests invited yet.</p>
        </aside>
      </section>
    </section>
  </section>
</section>