<section class="create-section" layout="column" layout-align="center center" ng-controller="EditCtrl as edit" flex>

  <!-- Loading spinner -->
  <div class="loading-signal" ng-if="edit.loading" layout="row" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="back-link-row" layout="row" layout-align="space-between center">
    <!-- Back out, or go straight to the Dashboard -->
    <md-button ng-if="previousStates.length" ng-click="changeState('previous')"
      aria-label="Back"
      class="md-icon-button back__button backward_anim launch">
      <md-icon class="material-icons step"
        ng-class="md-18">
          keyboard_return
      </md-icon>
    </md-button>

    <a ui-sref="dashboard" class="link">
      <md-button aria-label="Back"
      class="md-icon-button back__button launch">
        <md-icon class="material-icons step"
          ng-class="md-18">
            home
        </md-icon>
      </md-button>
    </a>
  </div>

  <section class="form-container form-container--md event-container">
    <md-content>
      <div>
        <!-- Start form -->
        <form name="editForm" class="form create-form" ng-submit="edit.editEvent()">
          <!-- Edit the EVENT NAME -->
          <div layout="row" class="form__row name__row">
            <md-input-container flex>
              <label class="form__text form__label">change event name</label>
              <input type="text" name="eventName" ng-model="edit.name" required autocomplete="off" minlength="5" maxlength="35" autofocus ng-autofocus class="form__event-name edit-name-input">
              <aside ng-messages="editForm.eventName.$error" md-auto-hide="false">
                <div class="form__feedback--error" ng-message="minlength">Must be at least 5 characters</div>
                <div class="form__feedback--error" ng-message="maxlength">Must be shorter than 35 characters</div>
                <div class="form__feedback--error" ng-message="required">An event name is needed.</div>
              </aside>
              <div class="hint" ng-hide="editForm.eventName.$invalid">What do you want to change the name to?</div>
            </md-input-container>
          </div>
          <div layout="column" layout-gt-xs="row" layout-align="space-between center" class="form__row dates__row">
            <!-- Set the EVENT START TIME -->
            <div layout="column" layout-align="center center" class="form__row date__row times__row">
              <md-content>
                <label class="form__text form__label">
                  when is it
                </label>
                <md-datepicker type="date" name="startDate" ng-model="edit.startDate" required md-min-date="edit.currentDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                <aside ng-messages="editForm.startDate.$error" md-auto-hide="false">
                  <div class="form__feedback--error" ng-message="valid">Please pick a valid date</div>
                  <div class="form__feedback--error" ng-message="mindate">Please avoid a past date.</div>
                  <div class="form__feedback--error" ng-show="edit.startDate > edit.endDate">The event must begin before it ends.</div>
                  <div class="form__feedback--error" ng-message="required &&editForm.startDate.$touched && editForm.startDate.$invalid">A date is needed.</div>
                </aside>
              </md-content>
              <md-input-container>
                <label class="form__text form__label">starts at</label>
                <input type="text" name="startTime" ng-model="edit.startTime" ui-timepicker earlier-than="edit.endTime" earlier-than-date="edit.endDate" later-than="edit.currentTime" later-than-date="edit.currentDate" related-date="edit.startDate" required class="form__event-start">
                <aside ng-messages="editForm.startTime.$error" md-auto-hide="false">
                  <div class="form__feedback--error" ng-message="editForm.startTime.$invalid">Please pick a valid start time.</div>
                  <div class="form__feedback--error" ng-message="laterThan">Pick a later start time.</div>
                  <div class="form__feedback--error" ng-message="earlierThan">The event must start before it ends.</div>
                  <div class="form__feedback--error" ng-message="required">A start time is needed.</div>
                </aside>
              </md-input-container>
            </div>
            <!-- Set the EVENT END TIME -->
            <div layout="column" layout-align="center center" class="form__row date__row times__row">
              <md-content>
                <label class="form__text form__label">
                  until
                </label>
                <md-datepicker type="date" name="endDate" ng-model="edit.endDate" required md-min-date="edit.startDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                <aside ng-messages="editForm.endDate.$error" md-auto-hide="false">
                  <div class="form__feedback--error" ng-message="valid">Please pick a valid date</div>
                  <div class="form__feedback--error" ng-message="mindate">The event must end after it begins.</div>
                  <div class="form__feedback--error" ng-message="required" ng-show="editForm.endName.$touched && editForm.endDate.$invalid">A date is needed.</div>
                </aside>
              </md-content>
              <md-input-container>
                <label class="form__text form__label">ends at</label>
                <input type="text" name="endTime" ng-model="edit.endTime" ui-timepicker later-than="edit.startTime" later-than-date="edit.startDate" related-date="edit.endDate" required class="form__event-end">
                <aside ng-messages="editForm.endTime.$error" md-auto-hide="false">
                  <div class="form__feedback--error" ng-message="editForm.endTime.$invalid">Please pick a valid end time</div>
                  <div class="form__feedback--error" ng-message="laterThan">The event must end after it begins.</div>
                  <div class="form__feedback--error" ng-message="required">An end time is needed.</div>
                </aside>
              </md-input-container>
            </div>
          </div>
          <!-- Edit the EVENT TYPE -->
          <div layout="row" class="form__row">
            <md-input-container flex>
              <label class="form__text form__label">change event type</label>
              <input type="text" name="eventType" ng-model="edit.type" list="eventTypes" required autocomplete="off" class="form__event-type">
              <datalist id="eventTypes">
                <option ng-repeat="type in edit.defaultTypes" value="{{ type }}"></option>
              </datalist>
              <div class="hint" ng-hide="editForm.eventType.$invalid">You can also choose from the dropdown options</div>
              <aside ng-messages="editForm.eventType.$error" md-auto-hide="false">
                <div class="form__feedback--error" ng-message="required">An event type is needed.</div>
              </aside>
            </md-input-container>
          </div>
          <!-- Edit the EVENT LOCATION -->
          <div layout="row" class="form__row">
            <md-input-container flex>
              <label class="form__text form__label">change location</label>
              <input type="text" name="eventLocation" ng-model="edit.location" required autocomplete="off" class="form__event-location">
              <aside ng-messages="editForm.eventLocation.$error" md-auto-hide="false">
                <div class="form__feedback--error" ng-message="required">An event location is needed.</div>
              </aside>
            </md-input-container>
            <!-- TODO: Add dynamic location setting with Maps API -->
          </div>
          <!-- Edit the EVENT GUEST LIST -->
          <div class="form__row guests__row">
            <label class="form__text form__label">update guest list</label>
            <tags-input type="text" name="eventGuests" ng-model="edit.guestList" add-on-paste="true" placeholder="Add a guest" on-tag-removed="edit.removeTag($tag)" replace-spaces-with-dashes="false" allow-leftover-text="false">
              <auto-complete select-first-match="false" min-length="3" source="edit.loadContacts()"></auto-complete>
            </tags-input>
            <aside ng-messages="editForm.eventGuests.$error" md-auto-hide="false">
              <div class="form__feedback--error" ng-message="allowLeftoverText">Please remove any extra text.</div>
            </aside>
          </div>
          <!-- Edit the EVENT MESSAGE -->
          <div layout="row" class="form__row message__row">
            <md-input-container flex>
              <label class="form__text form__label">update the message</label>
              <textarea name="eventMessage" maxlength="250" ng-model="edit.message" autocomplete="off" class="md-block form__text form__message"></textarea>
              <div class="hint" ng-hide="editForm.eventName.$invalid">If you haven't already, say something to the guests!</div>
              <aside ng-messages="editForm.eventMessage.$error" md-auto-hide="false">
                <div class="form__feedback--error" ng-message="maxlength">Please keep it within 250 characters.</div>
              </aside>
            </md-input-container>
          </div>
          <!-- Edit the EVENT HOST -->
          <div layout="row" class="form__row">
            <md-input-container flex>
              <label class="form__text form__label">change the host</label>
              <input type="text" name="hostName" ng-model="edit.host" required valid-ref autocomplete="off" class="form__event-name">
              <div class="hint" ng-hide="editForm.eventName.$invalid">This will change who can edit the event.</div>
              <aside ng-messages="editForm.hostName.$error" md-auto-hide="false">
                <div class="form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
                <div class="form__feedback--error" ng-message="required">An event host is needed.</div>
              </aside>
            </md-input-container>
          </div>

          <div>
            <p class="form__invalid form__feedback--error" ng-show="editForm.$invalid">Please address any invalid inputs before submitting.</p>
          </div>

          <!-- Refresh or Complete Edit -->
          <div layout="row" layout-align="space-around center" class="form__row">
            <md-button aria-label="Reset"
            class="md-icon-button reset__button launch" ng-click="edit.reset()">
              <md-icon class="material-icons step rotate__anim"
                ng-class="md-18">
                  autorenew
              </md-icon>
            </md-button>

            <md-button aria-label="Edit"
              type="submit"
              class="md-icon-button forward__anim create__button launch">
                <md-icon class="material-icons"
                  ng-class="md-18">
                    send
                </md-icon>
            </md-button>
          </div>

        </form><!-- End form -->
  </section>
</section>