<section class="app-gate-form" layout="row" layout-align="center center" ng-controller="RegCtrl as reg">



  <section class="form-container">
    <md-content>
      <div layout-gt-xs="row" layout-align-gt-xs="space-between center">
        <a ui-sref="login" class="link">
          <h3 class="form__text">login</h3>
          <md-button aria-label="Login"
            class="form__submit forward__anim md-icon-button launch">
              <md-icon class="material-icons step"
                ng-class="md-18">vpn_key</md-icon>
          </md-button>
        </a>
        <h2 class="form-title" flex-order-gt-xs="-1">join</h2>
      </div>
      <div>
        <form name="registerForm" class="form register-form" ng-submit="reg.registerUser()">
          <div layout="row">
            <md-input-container class="md-block" flex-gt-xs>
              <label class="form__text form__label md-required">username</label>
              <input class="form__username" name="username" required autocomplete="off" autofocus ng-model="reg.username" minlength="6" maxlength="18" new-user="reg.checkUser(un)" valid-ref>
              <aside ng-messages="registerForm.username.$error" md-auto-hide="false">
                <div class="form__feedback form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
                <div class="form__feedback form__feedback--error" ng-message="newUser">this username is already taken</div>
                <div class="form__feedback form__feedback--error" ng-message="minlength">must be at least 6 characters</div>
                <div class="form__feedback form__feedback--success" ng-show="registerForm.username.$valid">great!</div>
              </aside>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label class="form__text form__label md-required">email</label>
              <input type="email" class="form__email" name="email" required autocomplete ng-model="reg.email">
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label class="form__text form__label md-required">create password</label>
              <input type="password" class="form__password" name="password" required ng-model="reg.password" minlength="6" maxlength="18" valid-ref has-num has-upper-case has-lower-case>
              <aside ng-messages="registerForm.password.$error" ng-messages-multiple>
                <div class="form__feedback form__feedback--error" ng-message="validRef">must not contain the characters: <pre><code>. $ # [ ] /</code></pre></div>
                <div class="form__feedback form__feedback--error" ng-message="minlength">must be at least 6 characters</div>
                <div class="form__feedback form__feedback--error" ng-message="hasNum">must contain a number</div>
                <div class="form__feedback form__feedback--error" ng-message="hasUpperCase">must use 1 uppercase letter</div>
                <div class="form__feedback form__feedback--error" ng-message="hasLowerCase">must use 1 lowercase letter</div>
              </aside>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container class="md-block" flex>
              <label class="form__text form__label md-required">confirm password</label>
              <input type="password" class="form__password confirm" name="passwords" required ng-model="reg.passwordConfirm" password-match="{{ reg.password }}">
              <aside ng-messages="registerForm.passwords.$error">
                <div class="form__feedback form__feedback--error" ng-message="passwordMatch">passwords do not match</div>
              </aside>
            </md-input-container>
          </div>
          <div layout="row" layout-align="center center">
            <md-button aria-label="Register"
              type="submit"
              class="form__submit up__anim md-icon-button launch">
                <md-icon class="material-icons step"
                  ng-class="md-18">
                    person_add
                </md-icon>
            </md-button>
          </div>
        </form>
      </div>
    </md-content>
  </section>

</section>