<section class="event-section" layout="column" layout-align="center center" ng-controller="UserCtrl as user" flex>

  <div class="loading-signal" ng-if="user.loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <div class="back-link-row" layout="row" layout-align="space-between center">

    <md-button ng-if="previousStates.length" ng-click="changeState('previous')" aria-label="Back"
    class="md-icon-button back__button backward_anim launch">
      <md-icon class="material-icons step"
        ng-class="md-18">
          keyboard_return
      </md-icon>
    </md-button>

    <a ui-sref="dashboard" class="link md-icon-button nav__button back__button launch" aria-label="Home">
      <md-icon class="material-icons step"
        ng-class="md-18">
          home
      </md-icon>
    </a>
  </div>

  <!-- User details -->
  <section class="form-container form-container--md user-container">

    <h2 class="user-username">{{ user.username }}</h2>

    <div ng-if="user.exists">
      <h2 class="user-name">{{ user.name }}</h2>
      <h3 class="user-email">{{ user.email }}</h3>
      <h4 class="user-birthday">{{ user.birthday }}</h4>
      <h6 class="user-employer">{{ user.employer }}</h6>
      <h5 class="user-position">{{ user.position }}</h5>
      <p class="user-blurb">{{ user.blurb }}</p>

      <md-switch class="contact-toggle" ng-model="user.isContact" md-no-ink aria-label="Add Contact" ng-change="user.toggleContact(user.isContact)">
        <p class="contact-toggle-text">
          <span ng-if="!user.isContact">Add to contacts</span>
          <span ng-if="user.isContact">Remove from contacts</span>
        </p>
      </md-switch>
    </div>

    <aside ng-if="!user.exists">
      <p class="user-blurb">This user does not have an account. Invite them to try the app out!</p>
    </aside>

  </section>

</section>